{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

    <h1>Account</h1>

    <h3>My informations</h3>

    <div>
        <p>Username: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Register date: {{ user.registerDate.format('Y-m-d') }}</p>

        <p>Contry: 
            {% if user.country == NULL %}
                Not specified
            {% else %}
                {{ user.country }}
            {% endif %}
        </p>

    </div>

    <a class="btn btn-primary" href="{{ path('user_series') }}">See my series</a>
    
{% endblock %}