{{ form_start(form) }}

    {{ form_row(form.s) }}
    
    <button type="submit" class="btn btn-danger w-100">Search</button>
    <h4>Countries</h4>

    {{ form_row(form.countries) }}

    <h4>Categories</h4>

    {{ form_row(form.categories) }}

    {% block followed %}

        <h4 class="d-inline">Followed series</h4>

        {{ form_row(form.followed, { 'attr': {'class': 'd-inline' }}) }}
    
    {% endblock %}

{{ form_end(form) }}