{{ form_start(form) }}

    {{ form_row(form.s) }}

    <h4>Countries</h4>

    {{ form_row(form.countries) }}

    <h4>Categories</h4>

    {{ form_row(form.categories) }}

    <h4>Followed series</h4>

    {{ form_row(form.followed) }}

    <button type="submit">Search</button>
{{ form_end(form) }}