{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Explore series</h1>

    <div class="menus">
            {% include 'series/_filter.html.twig' with {form : form} only %}
            {{ knp_pagination_render(series) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plot</th>
                <th>Imdb</th>
                <th>Poster</th>
                <th>Director</th>
                <th>YoutubeTrailer</th>
                <th>Awards</th>
                <th>YearStart</th>
                <th>YearEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.id }}</td>
                <td>{{ series.title }}</td>
                <td>{{ series.plot }}</td>
                <td>{{ series.imdb }}</td>
                <td><a href="{{path('series_poster', {'id':series.id})}}"> 
                <img src="{{ path('series_poster', {'id':series.id})}}"/>
                </a>
                </td>
                <td>{{ series.director }}</td>
                <td>{{ series.youtubeTrailer }}</td>
                <td>{{ series.awards }}</td>
                <td>{{ series.yearStart }}</td>
                <td>{{ series.yearEnd }}</td>
                <td>
                    <a href="{{ path('series_show', {'id': series.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<a href="{{ path('series_new') }}">Create new</a> -!>
{% endblock %}
