{% extends 'base.html.twig' %}

{% block title %}Explore{% endblock %}

{% block body %}
    <div class="container">
    
    <h1>Explore series</h1>

        <div class="row">
            <!-- Search filtrers -->
            <div class="col-md-3">
                    {% include 'series/_filter.html.twig' with {form : form} only %}
            </div>

            <div class="col-md-9">
                <!-- sort by alphabet, date or rating -->
                <div class="d-flex justify-content-start mb">
                    {{ knp_pagination_sortable(series, 'By alphabet', 's.title' )}}
                    {{ knp_pagination_sortable(series, 'By date', 's.yearStart' )}}
                    {{ knp_pagination_sortable(series, 'By rating', 'e.value' )}}
                </div>


                <div class="grid">
                    {% for serie in series %}
                        {% include 'series/_preview.html.twig' with {serie: serie, user: user} only %}
                    {% endfor %}
                </div>
                <div style="margin-top:5em;">
                    {{ knp_pagination_render(series) }}
                </div>
            </div>
        </div>
    </div>
    <!--<a href="{{ path('series_new') }}">Create new</a> -->
{% endblock %}
