{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link type="text/css" href="{{ asset('css/presentation.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="container">

		<div
			class="d-flex justify-content-around">

			<!-- Left column -->
			<div
				class="d-flex flex-column">
				<!-- Poster -->
				{% if serie.youtubeTrailer %}
					<div class="serie_poster">
						<a href="https://www.youtube.com/embed/{{ serie.youtubeTrailer }}" target="_blank">
							<img src="{{ path('series_poster', {'id': serie.id})}}" class="show-img-left" alt="poster">
							<button class="btn">Watch the trailer</button>
						</a>
					</div>
				{% else %}
					<img src="{{ path('series_poster', {'id': serie.id})}}" class="show-img-left" alt="poster">
				{% endif %}

				<!-- Genres -->
				<section class="mt-3 mb-3">
					Genres:</br>
				{% for category in serie.genre %}
					<a class="btn btn-success mt-1" href="{{path('explore_series', {'category':category.name})}}">
						<span>{{ category.name }}</span>
					</a>
				{% endfor %}
			</section>

			<!-- Follow or unfollow button -->
			{% if app.user and not app.user.admin and app.user in serie.user %}
				<a class="btn btn-primary" href="{{ path('unfollow', {'id': serie.id}) }}">Unfollow</a>
			{% elseif not app.user or (app.user and not app.user.admin) %}
				<a class="btn btn-primary" href="{{ path('follow', {'id': serie.id}) }}">Follow</a>
			{% endif %}

			<!-- Rate button -->
			{% if app.user and not app.user.admin and serie.getRatingByUser(app.user) %}
				<a class="btn btn-warning w-100 mt-2" href="{{ path('see_rate', {'id': serie.id}) }}">See my rating</a>
			{% elseif not app.user or (app.user and not app.user.admin) %}
				<a class="btn btn-warning w-100 mt-2" href="{{ path('add_series_rate', {'id': serie.id}) }}">Rate</a>
			{% endif %}

			<!-- Comments moderation button -->
			{% if app.user and app.user.admin %}
				<a class="btn btn-success w-100 mt-2" href="{{ path('comments_moderation', {'id': serie.id}) }}">See all comments</a>
			{% endif %}
		</div>

		<!-- Right column -->
		<div
			class="ml-5 mt-2">

			<!-- First section: Series informations -->
			<div
				class="d-flex flex-column justify-content-center mb">
				<!-- Year start and end -->
				<em>
					{% if serie.yearStart == NULL %}
						Unknown
					{% else %}
						{{ serie.yearStart }}
					{% endif %}
					-
					{% if serie.yearEnd == NULL %}
						Still continuing today !
					{% else %}
						{{ serie.yearEnd }}
					{% endif %}
				</em>

				<h2>{{ serie.title }}</h2>
				<h6>
					<a class="text-warning" target="_blank" href="https://www.imdb.com/title/{{ serie.getImdb() }}">IMDB
					</a>
					average ratings :
					{% if serie.externalRating and serie.externalRating|length > 0 %}
						{{ serie.externalRating[0].value }}<span class="small">,
							{{serie.externalRating[0].votes }}
							votes.</span>
					{% else %}
						Unknown.
					{% endif %}
				</h6>

				<!-- Awards -->
				{% if "N/A" not in serie.awards %}
					<h5 class="text-warning">
						{{ serie.awards }}
					</h5>
				{% endif %}

				<!-- Number of followers -->
				<h6>
					Followed by
					{{ serie.user|length }}
					people, average ratings :
					{% if serie.getAverageRating() > -1 %}
						{{ serie.getAverageRating() }}/10
					{% else %}
						Unknown.
					{% endif %}
				</h6>

				<!-- Plot -->
				<section class="mt-4">
					<h6>Description</h6>
					<p>{{ serie.plot }}</p>
				</section>

				<!-- Actors list -->
				<h6>Actors</h6>
				<ul class="list-group list-group-horizontal-sm">
					{% for actor in serie.actor %}
						<li class="list-group-item list-group-item-danger">{{ actor.name }}</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</div>

	<!-- Second section: Series seasons & episodes -->
	<div class="container m-3">
		<h3>Seasons and episodes</h3>
		{{ knp_pagination_render(seasons) }}
		<ul class="list-group">
			{% for season in seasons %}
				<li class="list-group-item list-group-item-success">
					<a class="link-warning text-danger" href="{{ path('series_season_presentation', {'number': season.number, 'id': serie.id }) }}">
						<strong>Season
							{{ season.number }}
							<strong></a>
						</li>
					{% endfor %}
				</li>
			</ul>
		</div>

		<a class="btn btn-danger" href="{{ path('explore_series') }}">Back</a>
	</div>
{% endblock %}
