{% extends 'base.html.twig' %}

{% block title %}{{ serie.title }} - Season {{ season.number }}{% endblock %}

{% block body %}
	<div
		class="container">
		<!-- Season n -->
		<h4>Season
			{{ seasonNumber }}
		</h4>

		<h6>Number of episode watched: {{ season.getNumberOfSeenEpisode(app.user) }} / {{ episodes|length }}</h6>

		{% if episodes|length > 0 %}

			<ul class="list-group p-0">
				{% for episode in episodes %}
					<li
						class="list-group-item list-group-item-warning m-1 xsmall">

						<!-- Episode informations -->
						<strong>Episode n°{{ episode.number }}</strong>:
						{{ episode.title }}
						| 
						Release date:
						{{ episode.date.format('Y-m-d') }}
						|

						<a class="text-success" target="_blank" href="https://www.imdb.com/title/{{ episode.getImdb() }}">IMDB
							<strong>{{ episode.getImdbrating() }}
							</strong>
						</a>

						<!-- Mark as seen or not seen button -->
						{% if app.user and episode in app.user.episode %}
							<a class="btn btn-primary" href="{{ path('markAsNotSeen', {'id': episode.id}) }}">
								Mark as not seen
							</a>
						{% else %}
							<a class="btn btn-primary" href="{{ path('markAsSeen', {'id': episode.id}) }}">
								Mark as seen
							</a>
						{% endif %}

					</li>
				{% endfor %}
			</ul>
			<br/>
			{{ knp_pagination_render(episodes) }}

		{% else %}
			<h3 class="text-warning">Sorry, there's no episode available for this season...</h3><br/>
			<a class="btn btn-primary" href="{{ path('seriesPresentation', {'id': serie.id})}}">Go back</a>
		{% endif %}
	</div>
{% endblock %}
