{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <div class="show">
            <div class="col-md-4">
                <h2 class="show-title"> {{ series.title }} </h2>
                <em> {{ series.yearStart }} - {{ series.yearEnd }} </em>
                <img src="{{ path('series_poster', {'id':series.id})}}" class="show-img-left"/>
            </div>

            <div class="col-md-5">
                <div class="d-flex justify-content-start mb">
                </div>
                    {% for serie in series %}
                    {% endfor %}
                <div style="margin-top:5em;">
                </div>
            </div>
        </div>
        <a href="{{ path('series_index') }}">back to list</a>
    </div>
    <!--
    <table class="container">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Imdb</th>
                <td>{{ series.imdb }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><a href="{{path('series_poster', {'id':series.id})}}"> 
                <img src="{{ path('series_poster', {'id':series.id})}}"/>
                </a>
                </td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                <td>{{ series.youtubeTrailer }}</td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ series.yearStart }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ series.yearEnd }}</td>
            </tr>
            <tr>
                <th>Seasons</th>
                <td>
                <ul>
                    {% for season in series.getSeasons() %}
                        <li> {{ season.number }} </li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>
                <ul>
                    {% for category in series.getGenre() %}
                        <li> {{ category.name }} </li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('series_index') }}">back to list</a>
    -->

    
{% endblock %}
