{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

		<div class="d-flex justify-content-around">
			<div class="d-flex flex-column">
				<h2>
					{{ series.title }}
				</h2>
				<img src="{{ path('series_poster', {'id':series.id})}}" class="show-img-left"/>

				<em>
					{{ series.yearStart }}
					-
					{{ series.yearEnd }}
				</em>

				<section class="mt-2">
					{% for category in series.getGenre() %}
						<a href="{{path('series_index', {'category':category.name})}}">
							<span>{{ category.name }}
							</span>
						</a>
					{% endfor %}
				</section>

				{% if user != NULL and series in user.getSeries() %}
					<a class="btn btn-primary" href="{{ path('unfollow', {'serieID': series.id}) }}">Unfollow</a>
				{% else %}
					<a class="btn btn-primary" href="{{ path('follow', {'serieID': series.id}) }}">Follow</a>
				{% endif %}

				{% if series.user %}
					<!-- ??? -->
					<a class="btn btn-warning w-100 mt-2" href="{{ path('series_rate', {'serieID': series.id}) }}">Rate</a>
				{% else %}
					<em>
						Rated.
					</em>
				{% endif %}
			
			</div>

			<div class="ml-5 mt-5">
				<div class="d-flex flex-column justify-content-center mb">
					{% if "N/A" not in series.awards %}
						<h5 class="text-warning">
							{{ series.awards }}
						</h5>
					{% endif %}
					<h5>
						{{ series.imdb }}
					</h5>
					<h5>
						Followed by
						{{ series.user|length }}
						user(s).
					</h5>

					<figure class="w-100 h-300">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ series.youtubeTrailer }}"></iframe>
					</figure>
					<p>
						{{ series.plot }}</p>

					<h5>
						Actors
					</h5>
					<ul class="list-group list-group-horizontal-sm">
						{% for actor in series.actor %}
							<li class="list-group-item list-group-item-danger">{{ actor.getName() }}
							</li>
							<li>
							{% endfor %}
						</ul>


					</div>
					{% for serie in series %}{% endfor %}
					<div style="margin-top:5em;"></div>
				</div>
			</div>
			<a href="{{ path('series_index') }}">back to list</a>
		</div>
	{% endblock %}
