{{ form_start(form) }}

    <h4>Serie's title</h4>

    {{ form_row(form.searchSerie) }}

    <h4>User name</h4>

    {{ form_row(form.searchUser) }}

    {{ form_row(form.submit) }}
    
{{ form_end(form) }}