<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<style>
			body {
				background-color: #363636;
				color: white;
			}
			ul {
				list-style: none;
			}
			a {
				color: white;
			}

			.grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}

			.page-item a {
				color: red;
			}
			.page-item.active .page-link {
				background-color: #F32013;
				border-color: #F32013;
			}
			.dropdown-menu a:hover {
				color: white;
				background-color: #CA0B00 !important;
			}
		</style>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<ul class="navbar navbar-dark bg-danger">
			<li class="dropdown">
				<button class="btn btn-danger dropdown-toggle navbar-brand mb-0" type="button" data-toggle="dropdown">
					Account
				</button>
				<div class="dropdown-menu">

				{% if app.user %}
					<a class="dropdown-item" href="{{ path('user_account') }}">Account</a>
					<a class="dropdown-item" href="{{ path('user_logout') }}">Log out</a>
				{% else %}
					<a class="dropdown-item" href="{{ path('user_register') }}">Register</a>
					<a class="dropdown-item" href="{{ path('user_login') }}">Log in</a>
				{% endif %}
				
				</div>
			</li>
			<li>
				<a href="{{ path('home') }}" class="navbar-brand mb-0 h1">Home</a>
			</li>
			<li>
				<a href="{{ path('user_series') }}" class="navbar-brand mb-0 h1">My series</a>
			</li>
			<li>
				<a href="{{ path('series_index') }}" class="navbar-brand mb-0 h1">Explore</a>
			</li>
			<li>
				<a href="" class="navbar-brand mb-0 h1">About</a>
			</li>

		</ul>

		<div style="margin-top:5em;">
			{% block body %}
			</div>
		{% endblock %}
	</body>
	<!-- For the dropdown menu -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
