{% extends 'base.html.twig' %}

{% block title %}{{ serie.Title }} overview{% endblock %}

{% block body %}
	<div class="container">

		<div class="d-flex justify-content-around">

			<!-- Left column -->
			<div class="d-flex flex-column">

				<!-- Title and poster -->
				<h2>{{ serie.Title }}</h2>
				<img src="{{ serie.Poster }}" class="show-img-left" alt="poster"/>

				<!-- Year start and end -->
				<em>{{ serie.Year }}</em>

				<!-- Genres -->
				<section class="mt-2">
					Genres: 
					{% for genre in serie.Genre|split(',') %}
						<a href="{{path('exploreSeries', {'category': genre})}}">
							<span>{{ genre }}</span>
						</a>
					{% endfor %}
				</section>

                <!-- Country -->
                <p>From {{ serie.Country }}</p>

			</div>

			<!-- Right column -->
			<div class="ml-5 mt-5">

				<!-- First section: Series informations -->
				<div class="d-flex flex-column justify-content-center mb">

					<h4> 
						<a class="text-success" target="_blank" href="https://www.imdb.com/title/{{ serie.imdbID }}">IMDB</a>
						average ratings : {{ serie.imdbRating }} 
					</h4>

					<!-- Awards -->
                    <h5 class="text-warning">
                        Awards: 
                        {% if "N/A" in serie.Awards %}
							None
                        {% else %}
							{{ serie.Awards }}
					    {% endif %}
                    </h5>

					<!-- Plot -->
                    <h5>Plot</h5>
					<p>{{ serie.Plot }}</p>

					<!-- Number of seasons -->
					<h5>Number of seasons available today</h5>
					<p>{{ serie.totalSeasons }}</p>

					<!-- Director & Actors list -->
                    <h5>Director</h5>
                    <p class="list-group-item list-group-item-success">
						{% if "N/A" in serie.Director %}
							Unkown
                        {% else %}
							{{ serie.Awards }}
					    {% endif %}
					</p>

					<h5>Actors</h5>
					<ul class="list-group list-group-horizontal-sm">
						{% for actor in serie.Actors|split(',') %}
							<li class="list-group-item list-group-item-danger">{{ actor }}</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>

        <a href="{{ path('addSerie', {'serieImdb': serie.imdbID }) }}" class="btn btn-primary">Add this serie</a>
        <a href="{{ path('searchImdbSerie') }}" class="btn btn-danger">Cancel</a>

	</div>
{% endblock %}