{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2>How did you find {{ serie.title }} ?</h2>

		{{ form_start(form) }}

		{{ form_row(form.value) }}
		{{ form_row(form.comment) }}

		<!-- Save & cancel button -->
		{% block buttons %}
			<div>
				{{ form_row(form.save) }}
				<a class="btn btn-danger" href="{{ path('series_presentation', {'id': serie.id }) }}">Cancel</a>
			</div>
		{% endblock %}

		{{ form_end(form) }}
	</div>

{% endblock %}
