{% extends 'user/rate.html.twig' %}

{% block title %}Modify rating
{% endblock %}

{% block body %}
	<div class="container">
		<h3>{{ serie.title }}</h3>
		<img src="{{ path('seriesPoster', {'id': serie.id})}}" class="show-img-left" alt="poster">

		<!-- Rating informations -->
		<p >Mark:
			{{ rating.value }}</p>
		<p>Comment:
			{{ rating.comment }}</p>

		<!-- Modify & Go back button -->
		<div>
			<a class="btn btn-success" href="{{ path('modifySeriesRate', {'id': serie.id }) }}">Modify</a>
			<a class="btn btn-danger" href="{{ path('deleteSeriesRate', {'id': serie.id }) }}">Remove</a>
			<a class="btn btn-primary" href="{{ path('seriesPresentation', {'id': serie.id }) }}">Go back</a>
		</div>
	</div>
{% endblock %}
